/build/*
/*.gba
/kp_patched.sym
/flips.exe
/flipscfg.bin
/*.bps
/graphics/minigamesplashes/reserve/*
/graphics/inlevel/reserve/*
/graphics/menu/reserve/*
/graphics/fixed/reserve/*
/graphics/menu/dumps/*.bin
**/__pycache__/
/graphics/learnmagic/reserve/*