/build/*
/kp.gba
/kp_patched.gba
/graphics/minigamesplashes/reserve/*
/graphics/inlevel/reserve/*
/graphics/menu/reserve/*
/graphics/fixed/reserve/*
/graphics/menu/dumps/*.bin
/graphics/__pycache__/*
/graphics/minigamesplashes/__pycache__/*
/graphics/learnmagic/__pycache__/*
/graphics/learnmagic/reserve/*